.blog {
	display: grid;
	gap: 48px;
}

.post {
	position: relative;
	display: flex;
	align-items: center;
	gap: 32px;
}

.post__link {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.post__link::after {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.post__image-wrapper {
	flex-shrink: 0;
	width: 280px;
	aspect-ratio: 280 / 210;
	border-radius: 10px;
	overflow: hidden;
	background: #111;
}

.post__image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.post__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.post__date {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.08em;
	text-transform: capitalize;
	color: #f8d49e;
}

.post__title {
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1;
	color: var(--text-default);
}

.post__text {
	font-size: 16px;
	line-height: 1.6;
	color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 992px) {
	.post {
		align-items: flex-start;
		gap: 16px;
	}

	.post__image-wrapper {
		width: 180px;
	}

	.post__text {
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.post {
		flex-direction: column;
	}

	.post__image-wrapper {
		width: 100%;
	}

	.post__text {
		font-size: 14px;
	}
}
