.form {
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 20px;
	border-radius: 6px;
}

@media (max-width: 424px) {
	.form {
		margin: 20px -15px 0px;
		border-radius: 0px;
	}
}

.form__group {
	display: block;
	margin-bottom: 20px;
}

.form__label {
	margin-bottom: 10px;
	font-weight: 500;
	/* color: #2981b1; */
}

.form__input {
	height: 42px;
	width: 100%;
	display: block;
	padding: 15px 10px 15px 10px;
	background-color: #fff;
	border: 1px solid #b1bfc7;
	color: #000;
	border-radius: 4px;
	outline: none;
	transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form__input--select {
	padding: 0px 10px;
}

.form__textarea,
input[type='file'] {
	transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

input[type='file'] {
	max-width: 100%;
}

.form__input:hover,
.form__textarea:hover {
	/* border: 1px solid rgb(33 150 243 / 100%);
	box-shadow: 0 0 0 4px rgb(33 150 243 / 10%); */
	border: 1px solid #f8d49e;
	box-shadow: 0 0 0 4px rgb(255 231 194 / 25%);
}

.form__input:active,
.form__input:focus,
.form__textarea:active,
.form__textarea:focus,
input[type='file']:active,
input[type='file']:focus {
	/* border: 1px solid rgb(33 150 243 / 100%); */
	/* box-shadow: 0 0 0 4px rgb(33 150 243 / 45%); */
	border: 1px solid #f8d49e;
	box-shadow: 0 0 0 4px rgb(255 231 194 / 25%);
}

.form__row {
	display: flex;
	column-gap: 30px;
}

@media (max-width: 839px) {
	.form__row {
		column-gap: 15px;
	}
}

.form__row > * {
	flex-grow: 1;
}

.form__textarea {
	height: 120px;
	width: 100%;
	display: block;
	padding: 15px 10px 15px 10px;
	background-color: #fff;
	border: 1px solid #b1bfc7;
	color: #000;
	border-radius: 4px;
	outline: none;
	transition: border 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
	resize: vertical;
}

.form__btns {
	display: flex;
	gap: 10px;
}

.form__btns--center {
	justify-content: center;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 120px;

	padding: 0px 1em;
	/* background: #485e70; */
	background: var(--background-primary);
	border-radius: 8px;
	height: 2.375em;

	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #000;
	transition: background-color 0.2s ease-in, color 0.2s ease-in;

	cursor: pointer;
}

.btn:hover {
	/* background: #fbba57; */
	background: #ffebcc;
}

.btn:active,
.btn:focus {
	/* border: 1px solid rgb(33 150 243 / 100%);
	box-shadow: 0 0 0 4px rgb(33 150 243 / 45%); */
}

.btn--small {
	font-size: 12px;
	min-width: 60px;
}

.btn--micro {
	font-size: 12px;
	font-weight: 700;
	min-width: 10px;
}

.btn--delete {
	color: #fff;
	background-color: rgb(151, 13, 45);
}

.btn--delete:hover {
	background-color: rgb(206, 17, 61);
}

.btn--secondary {
	color: #fff;
	background-color: rgb(0, 0, 0);
}

.btn--secondary:hover {
	color: #fff;
	background-color: rgb(50, 50, 50);
}

.cat-item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 20px 0;
	border-bottom: 1px solid var(--border-default);
}

.cat-btns-wrapper {
	display: flex;
	gap: 5px;
}

.cover-preview-wrapper {
	margin-top: 20px;
	display: none;
}

#coverPreview {
	width: 280px;
	height: auto;
	object-fit: cover;
	border-radius: 6px;
}
