.item-border-wrapper {
	border-radius: 12px;
	border: 1px solid #52504c;
	padding: 15px;
}

.item {
	position: relative;
	padding: 16px 24px 16px 16px;

	display: flex;
	gap: 24px;
	/* align-items: center; */
	align-items: flex-start;

	/* border: 1px solid #52504c; */
	border: 1px solid #282828;
	border-radius: 12px;
}

.item .btn {
	z-index: 19;
}

.item.item--vegan .item-title::after {
	content: '';
	margin-left: 16px;
	display: inline-block;
	width: 16px;
	height: 16px;
	/* background-color: red; */

	background-image: url('./../../img/icons/leaf.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.item.item--special {
	position: relative;

	border: 1px solid var(--text-primary);
	border-radius: 16px;
}

.item.item--special::after {
	content: attr(data-label);

	position: absolute;
	top: 0;
	right: 24px;
	transform: translateY(-50%);

	border-radius: 6px;
	padding: 8px 12px;

	background: var(--background-primary);

	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 90%;
	color: var(--text-inverse);
}

.item__link {
	position: absolute;
	z-index: 9;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.item-img {
	width: 90px;
	height: 72px;
	object-fit: cover;
	border-radius: 10px;
	flex-shrink: 0;
}

.item-desc {
	flex-grow: 1;
}

.item-header {
	margin-bottom: 4px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	flex-wrap: wrap;
}

.item-title {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 160%;
	color: var(--text-default);
}

.item-price {
	display: flex;
	gap: 8px;

	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 160%;
	color: var(--text-default);
}

.item-price span {
	text-decoration: line-through;
	opacity: 0.6;
}

.item-text {
	font-family: var(--font-family);
	font-weight: 100;
	font-size: 16px;
	line-height: 160%;
	color: var(--text-default);

	opacity: 0.6;
}

.item-buttons {
	padding-top: 20px;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 10px;
}

.item-cart-wrapper {
	margin-top: 1rem;

	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;

	background-color: rgba(255, 255, 255, 0.1);
	padding: 8px 1rem;
	border-radius: 6px;
}

.item-cart-wrapper-btns {
	display: flex;
	gap: 5px;
}

@media (max-width: 580px) {
	.item {
		padding: 16px 10px 16px 10px;
		gap: 12px;
	}

	.item.item--special {
		border-radius: 8px;
	}

	.item.item--special::after {
		border-radius: 4px;
		padding: 4px 8px;
		font-size: 12px;
	}

	.item-title,
	.item-price {
		font-size: 16px;
	}

	.item-text {
		font-size: 14px;
		line-height: 130%;
	}
}
