.main {
	padding-top: 0px;
	padding-bottom: 60px;
}

.admin-nav {
	padding: 10px 15px;
	height: 46px;

	display: flex;
	gap: 48px;
	align-items: center;
	justify-content: center;

	background-color: #1e1e1e;

	position: sticky;
	top: 0;
	z-index: 99;

	overflow-x: auto;
}

.admin-link {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: var(--text-default);

	opacity: 0.6;
}

.admin-nav > * {
	flex-shrink: 0;
}

.main-nav {
	margin-bottom: 40px;
	padding: 24px 15px;

	display: flex;
	gap: 48px;
	align-items: center;
	justify-content: center;

	background: var(--background-default);

	overflow-x: auto;

	position: sticky;
	top: 0px;
	z-index: 99;
}

.main-nav-row {
	padding: 0 15px;

	display: flex;
	gap: 48px;
	align-items: center;
	justify-content: center;
}

.main-nav > * {
	flex-shrink: 0;
}

@media (max-width: 992px) {
	.main {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.admin-nav {
		justify-content: flex-start;
		gap: 30px;
	}

	.main-nav {
		gap: 30px;
		justify-content: flex-start;
	}
}

@media (max-width: 768px) {
	.main {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.main-nav-link:hover {
	color: var(--text-primary);
}

.main-nav-link.active {
	color: var(--text-primary);
	font-weight: 700;
}
