# EditorConfig is awesome: https://EditorConfig.org

# Основные настройки для всех файлов
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

# Специфические настройки для файлов с определёнными расширениями (если необходимо)
[*.md]
trim_trailing_whitespace = false
