:root {
	--text-default: #fff;
	--text-muted: rgba(255, 255, 255, 0.8);
	--text-primary: #face8d;
	--text-inverse: #081212;
	--background-default: #050505;
	--background-primary: #f8d49e;
	--border-default: rgba(255, 255, 255, 0.1);
	--icon-default: #fff;
	--icon-primary: #f8d49e;
	--icon-inverse: #081212;

	/* Fonts */
	/* --font-family: 'Chillax', sans-serif; */
	--font-family: 'Mulish', 'Poppins', sans-serif;
	--second-family: 'Neucha', 'Comforter Brush', 'Bitter Rose', sans-serif;
	--third-family: 'Cabinet Grotesk', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--background-default);
	font-family: var(--font-family);
	color: var(--text-default);
}

a {
	color: var(--text-muted);
}

code {
	display: inline-block;
	padding: 0px 4px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: monospace;
	letter-spacing: 0.5px;
}

.container {
	margin: 0 auto;
	max-width: 840px;
	width: 100%;
	padding-left: 96px;
	padding-right: 96px;
}

@media (max-width: 839px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 480px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.none {
	display: none !important;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-60 {
	margin-bottom: 60px;
}
.center {
	text-align: center;
}

.strong {
	font-weight: 700;
}

.underline {
	text-decoration: underline !important;
}