/* Шрифты */
@import './../fonts/bitter-rose/stylesheet.css';
@import './../fonts/cabinet-grotesk/stylesheet.css';
@import './../fonts/chillax/css/chillax.css';
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Comforter+Brush:regular);
@import url(https://fonts.googleapis.com/css?family=Neucha:regular);
@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Основные стили */
@import './base/reset.css';
@import './base/base.css';

/* Блоки */
@import './blocks/alerts.css';
@import './blocks/header.css';
@import './blocks/logo.css';
@import './blocks/nav.css';
@import './blocks/main.css';
@import './blocks/section.css';
@import './blocks/item.css';
@import './blocks/single.css';
@import './blocks/form.css';
@import './blocks/content-page.css';
@import './blocks/book.css';
@import './blocks/blog.css';
@import './blocks/blog-feature.css';
@import './blocks/footer.css';
@import './blocks/cookies-popup.css';
