.card {
	position: relative;
	padding: 20px;

	background: rgba(255, 255, 255, 0.03);
	border: 1px solid rgba(255, 255, 255, 0.07);
	border-radius: 18px;
	/* backdrop-filter: blur(10px); */
	text-align: left;
	background: rgba(0, 0, 0, 0.15);

	transition: all 0.2s ease-in;
}

.card:hover {
	background: rgba(255, 255, 255, 0.03);
	/* background: rgba(0, 0, 0, 0.15); */
}

.card__link {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 9;
	text-decoration: none;
	color: inherit;
}

.card__image-wrapper {
	position: relative;
	aspect-ratio: 420 / 220;
	margin: 0;

	border-radius: 18px;
	overflow: hidden;
}

.card__image-wrapper img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.card__title {
	margin-top: 10px;
	font-size: 22px;
	font-weight: 700;
}

.card__description {
	margin-top: 8px;
	margin-bottom: 0;
	color: #3e837c;
}
