/* Alerts */
.alert-wrapper {
	margin: 20px 0 40px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.alert {
	padding: 16px 20px;
	/* height: 52px; */
	border-radius: 4px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.3;

	background: #616161;
	border: none;
	color: #ffffff;
}

.alert a {
	text-decoration: underline;
}

.alert.remove {
	animation: remove 0.4s ease-in 1 forwards;
}

@keyframes remove {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		padding: 0;
		height: 0px;
		border-width: 0px;
		font-size: 0px;
		opacity: 0;
		display: none;
	}
}

.alert--success {
	background: #00ce71;
	border: none;
	color: #fff;
}

.alert--error {
	background: #c3264a;
	border: none;
	color: #ffffff;
}

.alert--warning {
	background: #616161;
	border: none;
	color: #ffffff;
}

@media (max-width: 768px) {
	.alert {
		padding: 8px 8px;
	}
}
