.header {
	/* min-height: min(1000px, 100vh); */

	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	justify-content: center;
	align-items: center;
	gap: 60px;

	padding: 64px 0 62px;

	background-color: var(--background-default);
	background-image: linear-gradient(
			rgba(255, 255, 255, 0) 70%,
			rgba(0, 0, 0, 1) 100%
		),
		image-set(
			url('/img/header/header-bg.jpg') 1x,
			url('/img/header/header-bg@2x.jpg') 2x
		);
	background-size: cover;
	background-position: center;
}

.header-logo {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 32px;
	line-height: 90%;
	color: var(--text-default);
}

.header-content {
	padding-left: 30px;
	padding-right: 30px;

	font-family: var(--font-family);
	font-weight: 400;
	line-height: 160%;
	text-align: center;
	color: var(--text-default);
}

.header-content p {
	margin: 0 auto;
	max-width: 600px;
	/* font-size: 24px; */
	font-size: clamp(0.75rem, 0.631rem + 0.6vw, 1rem);
	text-wrap: balance;
	font-weight: 100;
	line-height: 1.5;
}

.header-title {
	/* margin-bottom: 32px; */
	margin-bottom: clamp(1rem, 0.524rem + 2.38vw, 2rem);

	font-family: var(--second-family);
	font-weight: 400;
	/* font-size: 80px; */
	/* font-size: clamp(2.5rem, 1.591rem + 4.55vw, 5rem); */
	font-size: clamp(1.5rem, 1rem + 2.55vw, 2.5rem);
	line-height: 90%;
	color: var(--text-primary);
}

.header-title span {
	display: block;
	font-family: var(--font-family);
	font-weight: 500;
	/* font-size: 160px; */
	font-size: clamp(3rem, 2.048rem + 4.76vw, 5rem);
	line-height: 90%;
	color: var(--text-default);
}

.header-nav {
}

/* Индикатор загрузки */
.loader-wrapper {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid #fff;
	/* border-bottom-color: #ff3d00; */
	border-bottom-color: #07ac6c;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}
