.sections-wrapper {
	/* padding-top: 80px; */

	display: grid;
	gap: 96px;
}

.section {
	scroll-margin-top: 80px;
}

.section-title {
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 32px;

	font-family: var(--second-family);
	font-weight: 400;
	/* font-size: 44px; */
	font-size: clamp(2rem, 1.643rem + 1.79vw, 2.75rem);
	line-height: 100%;
	color: var(--text-primary);
}

@media (max-width: 768px) {
	.section-title {
		padding: 0;
	}
}

.section-list {
	display: grid;
	gap: 16px;
}

@media (max-width: 580px) {
	.sections-wrapper {
		gap: 48px;
	}
	.section-title {
		margin-bottom: 16px;
	}
}
