.single-wrapper {
	padding: 24px 16px;

	border: 1px solid #282828;
	border-radius: 16px;
}

.single-wrapper--special {
	position: relative;

	border: 1px solid var(--text-primary);
}

.single-wrapper--special::after {
	content: attr(data-label);

	position: absolute;
	top: 0;
	right: 24px;
	transform: translateY(-50%);

	border-radius: 6px;
	padding: 8px 12px;

	background: var(--background-primary);

	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 90%;
	color: var(--text-inverse);
}

.single-title {
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 16px;

	font-family: var(--second-family);
	font-weight: 400;
	/* font-size: 44px; */
	font-size: clamp(2rem, 1.643rem + 1.79vw, 2.5rem);
	line-height: 100%;
	color: var(--text-primary);
}

.single-title--vegan::after {
	content: '';
	margin-left: 16px;
	display: inline-block;
	width: 32px;
	height: 32px;
	/* background-color: red; */
	vertical-align: middle;

	background-image: url('./../../img/icons/leaf.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.single-price {
	margin-bottom: 32px;

	display: flex;
	justify-content: center;
	gap: 8px;

	font-family: var(--font-family);
	font-weight: 400;
	font-size: 24px;
	line-height: 160%;
	color: var(--text-default);
	text-align: center;
}

.single-price span {
	text-decoration: line-through;
	opacity: 0.6;
}

.single-img-wrapper {
}

.single-img {
	border-radius: 12px;
}

.single-description {
	padding: 18px 0;

	font-family: var(--font-family);
	font-weight: 100;
	font-size: 16px;
	line-height: 160%;
	color: var(--text-default);
	text-align: center;

	opacity: 0.6;
}
